<h3>Which campus do you want to see?</h3>
@Html.ActionLink("HCC Campus Curriculum", "Curriculum", "Home", new { campus = "hcc" }, new { @class = "btn btn-primary btn-lg" })

@Html.ActionLink("CCBC Campus Curriculum", "Curriculum", "Home", new { campus = "ccbc" }, new { @class = "btn btn-primary btn-lg" })


