@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">
        哈维中文学校(HCCS)成立于1998年12月，座落在哈维郡哥伦比亚市，是一所在马里兰州注册的非营利性，非政治性，非宗教性的中文学校，
        是全美中文学校协会(CSAUS)会员之一。现有注册学生近千人,两所分校 <a href="#">&raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Howard County Chinese School At Columbia</h3>
            </div>
            <div class="panel-body">
                <img src="~/Content/Images/hcc-campus.jpg" />
                @Html.ActionLink("Enter >>", "Index", "Home", routeValues: new { campus="hcc"}, htmlAttributes: new { @class="btn btn-default"})                
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Howard County Chinese School At Catonsville</h3>
            </div>
            <div class="panel-body">
                <img src="~/Content/Images/ccbc-campus.jpg" />
                @Html.ActionLink("Enter >>", "Index", "Home", routeValues: new { campus = "ccbc" }, htmlAttributes: new { @class = "btn btn-default" })                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2>Recent Update</h2>
            </div>
            <div class="panel-body">
                <ul>
                    <li>新教师培训, 新教师 Orientation</li>
                    <li>双语(Bilingual Program)  简介 (Introduction)</li>
                    <li>哈维凯城新校介绍 地图</li>
                    <li>2015年三月版校刊</li>
                    <li>BOD 助学金细则</li>
                    <li>哈维中文学校荣膺第31届马里兰州“州长服务奖”</li>
                    <li>中文读书报告有奖活动执行细则</li>
                    <li>Seminar Request Policies and Procedures</li>
                    <li>Rules for Weekly Newsletter</li>
                    <li>校园安全细则 (Code of Conduct (中文)</li>
                    <li>Baltimore Sun Story about HCCS</li>
                </ul>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2>Hot Topics</h2>
            </div>
            <div class="panel-body">
                <ul>
                    <li>郎朗中文使用指南(详解)</li>
                    <li>HCCS Mission Statement (draft)</li>
                    <li>HCCS Online System Manual</li>
                    <li>Registration Tutorial</li>
                    <li>Refund form</li>
                    <li>HCCS By Law</li>
                    <li>HCCS 财产管理制度</li>
                    <li>陈凡基金捐款名单</li>
                </ul>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="panel panel-success">
            <div class="panel-heading">
                <h2>Community</h2>
            </div>
            <div class="panel-body">
                <ul>
                    <li>全美中文学校协会</li>
                    <li>华夏中文学校</li>
                    <li>中国驻美大使馆</li>
                    <li>华人社区网</li>
                    <li>HCCS SGA</li>
                </ul>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
